body {
  background-color: black;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

#colorDisplay {
  font-size: 250%;
}

#directions {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin: 0;

}

#stripe {
  background-color: grey;
  height: 30px;
  text-align: center;
  margin: 0;
}

#statusDisplay {
  display: inline-block;
  width: 20%;
  color: white;
  font-size: 130%;
  font-weight: 800%;
  
}

.square {
  border-radius: 15px;
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.modeSelected {
  border: 2px solid gold;
  background-color: white;

}

button {
  height: 100%;
  background-color: grey;
  border: none;
  color: black;
  font-size: 1em;
}
/* writen by github: @andrewlopezcodes */