body {
  background-color: black;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}
#stripe {
  background-color: grey;
  height: 30px;
  text-align: center;
  margin: 0;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.modeSelected {
  border: 2px solid gold;
  background-color: khaki;
}